.header-wrapper{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
    height: 10vh;
}

.budget-header{
    margin-left: 50px;
}

.new-transaction{
    margin-right: 100px;
    border: 2px solid gray;
    padding: 20px;
}