.header-wrapper{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
    height: 10vh;
}

.budget-header{
    font-size: 44px;
    margin-left: 50px;
}

.new-transaction {
    margin-right: 100px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: box-shadow 0.3s ease; 
  }
  
.new-transaction:hover {
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}

.home-link{
    color: black;
    text-decoration: none;
}

.form-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}