.detail-wrapper{
    display: flex;
    flex-direction: column;
    border: 3px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 60vh;
    width: 80vw;
    align-self: center;
    background: white;
    padding: 20px;
}

.detail-header{
    font-size: 30px;
    padding: 15px 0px;
    margin-left: 15px;
}
.detail-body{
    display: flex;
    justify-content: space-between;
}

.details-left{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: 20px;
}
.details-left p{
    margin-left: 20px;
}
.payment-type{
    margin-bottom: 40px;
}
.payment-info{
    font-style: italic;
    margin-bottom: 15px;
}
.payment-type-span{
    font-weight: bold;
}

.transaction-name{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.details-right{
    display: flex;
    flex-direction: column;
    max-height: 40vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
}
.details-right p{
    margin: 40px 0px;
}
.transaction-id{
    font-weight: bold;
    font-style: italic;
}
.transaction-id-number{
    color: green;
}
.payment-amount{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.payment-amount-number{
    font-weight: bold;
}

.transaction-alter-buttons{
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 20px;
    /* border: 1px solid green; */
}

 .alter-transaction{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: box-shadow 0.3s ease; 
  }
  
.alter-transaction:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}
.edit-link{
    text-decoration: none;
}
.edit-transaction{
    color: black;
}
.edit-transaction:hover{
    color: blue;
}

.delete-transaction:hover{
    color: red;
}

.delete-check {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; 
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: 50%;
  }

.delete-check{
    display: flex;
    flex-direction: column;
}
.delete-check p {
    cursor: pointer;
}
  
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998; 
    display: none;
}
  

.delete-check.active + .overlay {
    display: block;
}
.delete-question{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 26px;
}
.delete-check-answer{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: box-shadow 0.3s ease; 
    font-size: 26px;
    margin-top: 40px;
}
  
.delete-check-answer:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}
  
.yes:hover{
    color: green;
}

.no:hover{
    color: red;
}
