.transaction-list-item{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: space-between;
    height: 40px;
    width: 800px;
    margin-bottom: 20px;
    align-items: center;
}
.transaction-date-show{
    width: 100px;
}
.transaction-name-show{
    width: 500px;
    text-align: center;
}
.amount{
    width: 120px;
}
.Deposit{
    color: green;
}

.Withdrawal{
    color: red;
}