.transactions-list-header{
    margin: 20px 0px;
    font-size: 50px;
    text-align: center;
}
.transactions *{
    font-size: 20px;
}
.transactions{
    list-style-type: none;
}

.total-amount{
    text-align: center;
}