.detail-wrapper{
    border: 3px solid gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 60vh;
    width: 80vw;
    align-self: center;
    background: white;
}

.detail-header{
    font-size: 30px;
    padding: 15px 0px;
    margin-left: 15px;
}
.detail-body{
    display: flex;
    justify-content: space-between;
}

.details-left{
    font-size: 25px;
    margin-top: 20px;
}
.details-left p{
    margin-left: 20px;
}
.payment-type{
    margin-bottom: 40px;
}
.payment-info{
    font-style: italic;
    margin-bottom: 15px;
}
.payment-type-span{
    font-weight: bold;
}

.transaction-name{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

.details-right{
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px; 
}
.details-right p{
    margin: 40px 0px;
}
.transaction-id{
    font-weight: bold;
    font-style: italic;
}
.transaction-id-number{
    color: green;
}
.payment-amount{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}
.payment-amount-number{
    font-weight: bold;
}

.transaction-alter-buttons{
    display: flex;
    margin-top: 60px;
    margin-left: 20px;
    font-size: 20px;
    /* border: 1px solid green; */
}

 .alter-transaction{
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    transition: box-shadow 0.3s ease; 
  }
  
.alter-transaction:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); 
}
.edit-link{
    text-decoration: none;
}
.edit-transaction{
    color: black;
}
.edit-transaction:hover{
    color: blue;
}

.delete-transaction:hover{
    color: red;
}